.post {
  padding: 3rem 0;

  &-header {
    color: $default-tint;
    font-family: $sans-serif;
    letter-spacing: 0.5px;
    max-width: 1200px;
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  &-info {
  }

  &-body {
    max-width: 900px;
    margin:0 auto;

    p {
      font-weight: 300;
      margin: 0 0 1rem;
      text-align: justify;

      &.dot-line {
      text-align: center;
      font-weight: 1000;
      display: block;
      margin: 0 auto 3rem;
      width: 4rem;
      }

      &.notice {
        color: #FF6347;
        margin-bottom: 0.35rem;
      }

      &.tech-ground {
        text-align: right;
      }
    }

    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      border-spacing: 0.1rem;
      width: 100%;
      text-align:center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;

      tr,td {
        border-collapse: collapse;
        border: 1px solid #ccc;
        vertical-align: middle;

        &.key {
          font-weight: bold;
        }

        &.left {
          text-align: left;
          padding-left: 0.4rem;
        }
      }
    }

    em {
      color: #808080;
      display: block;
      font-family: $sans-serif;
      font-style: normal;
      font-size: 0.9rem;
      text-align: left;

      &.center {
          text-align: center;
      }
    }

    sup {
      font-size: 0.8em;
      padding-left: 0.1em;
    }
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  &-tag-box-container {
      display: flex;
  }

  &-tag-box {
    display: block;
    width: auto;
    margin: 0.5em;
    padding: 0.2em;
  }

  &-author-container  {
    margin:0 auto;
  }

  &-author-box  {
    display:grid;
    grid-template-columns: 8rem auto;
    margin-bottom: 1rem;

    img.author-image {
      width: 5rem;
      margin-left: 1rem;
      margin-top: 1rem;
      border-radius: 70%;
      overflow: hidden;
    }

    span  {
      &.author-name {
        font-size: 1.1rem;
        font-weight: 900;
      }
      &.author-role {
        font-size: 0.8rem;
      }
    }
    p.author-desc {
        font-size:0.9rem;
    }
  }

  p {

  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

}
