---
layout: default
---

<div class="catalogue">
  {% for post in site.categories.deepdive %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p style="font-weight:10">
          {{ post.description }}
        </p>

        <h4 class="catalogue-publisher">{{ post.publisher }} {{ post.published-date | date: "%Y.%m.%d" }}</h4>
      </div>
    </a>
  {% endfor %}
</div>
