---
layout: default
---

<div class="post">
  <div class="post-info">
    <h4 class="catalogue-research-area">{{ page.research-area }}</h4>
  </div>
  <h1 class="post-title">{{ page.title }}</h1>

  {{ page.authors | join: ", " }}

  <h4>{{ page.publisher }}<h4>
  <h4>{{ page.published-date }}<h4>

  <div class="post-line"></div>

  {{ content }}

  <div class="post-line"></div>
  <div class="post-tag-box-container">
    {% for tag in page.tags %}
      <div class="post-tag-box">{{ tag }}</div>
    {% endfor %}
  </div>
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

</div>
